.myDiv {
    position: relative;
    z-index: 1;
}

.myDiv .bg {
  position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(./images/scribble.jpeg) center center;
    opacity: .2;
    width: 100%;
    height: 100%;
}

.block-title, .title {
  font-size: large;
  color: red;
}
